<div class="main-login main-center">
    <!--<link rel="stylesheet" href="styles.css"> -->
    <h2 style="color: darkslategrey">Folio: {{folio.folio}} - {{folio.centroCostos}}</h2>
    <h3 style="color: darkslategrey">Responsable: {{user.name}}</h3>
    <h4 style="color: darkslategrey">Id Responsable: {{user.idEmp}}</h4>
    <br>
    <div>
        <h4>Lista de Gastos</h4>
        <div id="budget">
            <table class="mdl-data-table mdl-js-data-table flat-table">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                        <th class="mdl-data-table__cell--non-numeric">#</th>
                        <th class="mdl-data-table__cell--non-numeric">Cta Contable</th>
                        <th class="mdl-data-table__cell--non-numeric">Monto</th>
                        <th class="mdl-data-table__cell--non-numeric">RFC proveedor</th>
                        <th class="mdl-data-table__cell--non-numeric">CFDI</th>
                        <th class="mdl-data-table__cell--non-numeric">Descripci&oacute;n</th>
                        <th class="mdl-data-table__cell--non-numeric">Detalle</th>
                    </tr>
                </thead>
            </table>
                <!--<tbody>
                    <tr *ngFor="let b of bills;let i = index">
                        <td colspan="7">-->
            <div *ngFor="let b of bills;let i = index">
                            <table class="mdl-data-table mdl-js-data-table">
                                <tbody>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div>
                                                <material-fab mini raised (trigger)="onEditRow"
                                                    [hidden]="false"
                                                    id="{{butEdit}}{{i+1}}"
                                                    name="{{i+1}}">
                                                    <glyph icon="mode_edit"></glyph>
                                                </material-fab>
                                                <material-fab mini raised (trigger)="onEditOkRow"
                                                    [hidden]="true"
                                                    id="{{butEditOk}}{{i+1}}"
                                                    name="{{i+1}}">
                                                    <glyph icon="check_circle"></glyph>
                                                </material-fab>
                                            </div>
                                        </td>
                                        <td class="hash">
                                            {{i+1}}
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric cta-contable">
                                            <div id="{{divAcc}}{{i+1}}">
                                                {{b.contableAccount}}
                                            </div>
                                        </td>
                                        <td class="monto">
                                            <div id="{{divMount}}{{i+1}}">
                                                {{b.mount.toStringAsFixed(2)}}
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric rfc-proveedor">
                                            <div id="{{divRfc}}{{i+1}}">
                                                {{b.rfc}}
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric cfdi">
                                            <div id="{{divCfdi}}{{i+1}}">
                                                <!--<label [htmlFor]="'upload' + (i+1).toString()">-->
                                                <label>
                                                    <glyph icon="file_upload" id="{{butUploadCfdi}}{{i+1}}"
                                                        (click)="uploadCfdi(i+1)"></glyph>
                                                    <material-input type="file"
                                                        id="upload{{i+1}}" [hidden]="true"
                                                        name="files[]" (change)="uploadFiles(i)">
                                                        </material-input>
                                                </label>
                                                <a href="{{b.cfdi}}" target="_blank"
                                                    [hidden]="b.cfdi == null || b.cfdi.isEmpty">
                                                    <glyph icon="file_download"></glyph>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric descripcion">
                                            <div id="{{divDesc}}{{i+1}}">
                                                {{b.desc}}
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric detalle">
                                            <div>
                                                <material-fab mini raised (trigger)="onShowDetail"
                                                    id="{{butDetail}}{{i+1}}"
                                                    name="{{i+1}}"
                                                    (trigger)="toggleCollapse(i+1)">
                                                    <glyph icon="details"></glyph>
                                                </material-fab>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="collapse" id="details{{i+1}}">
                                        <td class="mdl-data-table__cell--non-numeric"
                                                colSpan="7">
                                            <ul>
                                                <li *ngFor="let key of b.employees.keys">
                                                    <span>{{key}} : {{b.employees[key]}}</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <!--</td>
                    </tr>
                </tbody>
            </table>-->
            </div>
        </div>
    </div>
    <br>
    
    <button class="btn btn-primary pull-right but-distance" (click)="saveChanges()">Guardar</button>
    <button class="btn btn-info pull-right but-distance" style="color:black" (click)="createBill()">Agregar Gasto</button>
    <button class="btn btn-success but-distance" (click)="goBack()">Hecho</button>
</div>