/* buts class */
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*
    CUSTOM
*/

.selected {
  background-color: #039be5;
}
.but-distance{
  margin-left: 10px;
  margin-right: 10px;
}




/*!
Pure v0.6.2
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}.pure-table caption{color:#000;font:italic 85%/1 arial,sans-serif;padding:1em 0;text-align:center}.pure-table td,.pure-table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em}.pure-table td:first-child,.pure-table th:first-child{border-left-width:0}.pure-table thead{background-color:#e0e0e0;color:#000;text-align:left;vertical-align:bottom}.pure-table td{background-color:transparent}.pure-table-odd td,.pure-table-striped tr:nth-child(2n-1) td{background-color:#f2f2f2}.pure-table-bordered td{border-bottom:1px solid #cbcbcb}.pure-table-bordered tbody>tr:last-child>td{border-bottom-width:0}.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px;border-bottom:1px solid #cbcbcb}.pure-table-horizontal tbody>tr:last-child>td{border-bottom-width:0}

form {
  margin: 0 0 18px;
}

.modal-form {
  margin-bottom: 0;
}
.modal-content {
  padding: 1em;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *zoom: 1;
}

.form-group .form-control,
.form-group .control-label{
  right: 0em;
}
.form-horizontal .form-group .form-control{
  width: 60%;
}
.form-horizontal .form-group .control-label{
  text-align: right;
  width: 25%;
}
.form-horizontal .form-group .input-group .form-control{
  width: 100%;
}

.budget-modal{
  /*left: 50%;
  top: inherit;
  width: 600px;*/
  display: flex;
}

/*
 * General styles
 */

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1 .title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	min-width: 280px;
 	width: min-content;
  padding: 40px 40px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
table.stripped-table tr:nth-of-type(odd) { 
  background: aliceblue; 
}
table.stripped-table tr:nth-of-type(even) { 
  background: lightsteelblue; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


.quarter-form{
	text-align: right;
	margin-right: 15px;
	width: 25%;
}
.half-form{
  width: 100%;
  max-width: 50%;
}

@media 
only screen and (max-width: 760px) and (orientation: portrait),
(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .quarter-form{
    text-align: left;
    width: 100%;
  }
  .half-form{
    width: 100%;
    max-width: 100%;
  }

  * {
      font-size: 14px;
  }
  
  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 22px;
  }

  h3 {
      font-size: 18px;
  }

  blockquote {
      font-size: 12px !important;
  }
  
	/* Force table to not be like tables anymore */
	table,
  table thead,
  table tbody,
  table thead th,
  table tbody tr,
  table tbody tr td,
  table thead th td { 
		display: block; 
	}
  table.flat-table, 
  table.flat-table thead,
  table.flat-table tbody,
  table.flat-table thead th,
  table.flat-table tbody tr td,
  table.flat-table tbody th td,
  table.flat-table tbody tr{
    display: initial;
  }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td.check:nth-of-type(1):before { content: "Comprobado"; }
	td.folio:nth-of-type(2):before { content: "Folio"; }
	td.cc:nth-of-type(3):before { content: "#CC"; }
	td.centro-costos:nth-of-type(4):before { content: "Centro de Costos"; }
	td.descripcion:nth-of-type(5):before  { content: "Descripci&oacute;n"; }
	td.monto:nth-of-type(6):before { content: "Monto"; }

	td.hash:nth-of-type(2):before { content: "#"; }
	td.cta-contable:nth-of-type(3):before { content: "Cta Contable"; }
  td.monto:nth-of-type(4):before { content: "Monto"; }
	td.rfc-proveedor:nth-of-type(5):before { content: "RFC Proveedor"; }
	td.cfdi:nth-of-type(6):before { content: "CFDI"; }
  td.descripcion:nth-of-type(7):before  { content: "Descripci&oacute;n"; }
  td.detalle:nth-of-type(8):before { content: "Detalle"; }
}